<div class="about">
    <section>
        <h2 class="text-center my-3">About me</h2>
        <p>Hi, I'm Steve. Thank you for checking out my site. I am a web developer, speaker, technical writer and UI/UX designer.
            I'm currently building <a href="#">dijidaro</a>, an educational content sharing repository while also taking on freelance 
            work. I have a background in computer science and I write and speak about web technologies on security and performance.
        </p>
        <p> I am passionate about advocating for remote work to be seen as a legitimate, viable career path in my community and I 
            am dedicated to making the web a safer, more efficient place for all users.</p>
    </section>
    <section>
        <ul>
            <li>Programming languages</li>
            <ul>
                <li>Python</li>
                <li>JavaScript</li>
            </ul>
            <li>Backend frameworks</li>
            <ul>
                <li>Flask</li>
                <li>NodeJS/Express</li>
            </ul>
            <li>Frontend frameworks</li>
            <ul>
                <li>Angular2</li>
                <li>React</li>
                <li>HTML5/CSS3</li>
                <li>Bootstrap/Sematic UI</li>
            </ul>
            <li>Database systems</li>
            <ul>
                <li>PostgreSQL</li>
                <li>SQLite</li>
                <li>My SQL</li>
                <li>MongoDB</li>
            </ul>
            <li>System administration</li>
            <ul>
                <li>Containerization(Docker)</li>
            </ul>
            <li>Others</li>
            <ul>
                <li>Agile and Scrum Methodologies</li>
                <li>RESTful API/WebSockets</li>
                <li>Blockchain/Ethereum(Truffle framework)</li>
                <li>Amazon Web Services(EC2, Elastic Beanstalk etc.)</li>
                <li>Design Thinking</li>
                <li>Graphic Design(Illustrator, Photoshop)</li>
                <li>Wordpress</li>
            </ul>
        </ul>
        <p class="py-2">Currently, I work as a Web Developer at <a href="https://databreed.africa/" target="_blank">Databreed Africa</a>.</p>
        <p>Please <a href="/contact">contact me</a> if you would like more information on the services I offer.</p>
        <p>Feel free to join my <a href="/mailing">mailing list</a> to stay upto date on what I am doing.</p>
        <p>Stephen</p>
    </section>

</div>
