// HERO SECTION 
#hero { 
    display: flex;
    align-items: center;

    .hero-text {
        margin: 0 auto; 
         .rounded { border-radius: 50% !important;}

        h1 {
            font-family:  'andika_new_basicregular' !important;
            font-size: 1.75rem;
            font-weight: 600;
            color: var(--primary) !important;
            line-height: 1.2;
            letter-spacing: .015rem !important;
        }

        p { 
            font-size: 1.1rem;
            color: var(--light-50);
        }
    }

}

@media only screen and (min-width: 768px) {
    .large-image { display: block !important; }
    .small-image { display: none !important;}
}

@media only screen and (min-width: 1024px) { }

#intro { 
    h2 {
        font-size: 1.75rem;
        font-family: "gaeguregular" !important;
        // font-weight: 500 !important;
        color: var(--secondary) !important;
        text-align: start;
    }
}

@media only screen and (min-width: 768px) {
    
}
