// HERO SECTION 
#hero { 
    position: relative; 

    figure {
        .small-image { display: block; width: 100%;}
        .large-image { display: none; }
        figcaption { font-size: .75em; font-style: italic; text-align: end;}
    }

    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100%;
    
        h1 {
            font-family: "gaeguregular";
            font-size: 3.5rem;
            color: var(--light-75);
            line-height: 1;
            letter-spacing: -.2rem;
        }

        p { 
            font-size: 1.3rem;
            color: var(--light-50);
        }
    }

@media only screen and (min-width: 768px) {
    .large-image { display: block !important; }
    .small-image { display: none !important;}
}

@media only screen and (min-width: 1024px) {}

}

#intro { 
    h2 {
        font-family: "gaeguregular";
        font-size: 2.5rem;
        color: var(--secondary);
    }
}

@media only screen and (min-width: 768px) {
    
}



