<!-- HERO SECTION -->
<section>
    <div id="hero">
        <figure>
            <img 
              class="img-fluid small-image"
              src="/imgs/bg-small.png" 
              alt="A herd of elephants">
            <img 
              class="img-fluid large-image"
              src="/imgs/bg.png" 
              alt="A herd of elephants">
            <figcaption>Elephants grazing near Mt. Kilimanjaro.</figcaption>
        </figure>
        <div class="hero-text">
            <h1>Stephen Owoko</h1>
            <p>Web Developer</p>
        </div>
    </div>
</section>

<!-- INTRO SECTION -->
<section>
    <div class="container px-3" id="intro">
        <code><h3>Hello world!</h3></code>
        <p>Join me as I embark into the exciting world of web development. I'm passionate about making a difference into the tech industry and I’m always excited to share my ideas, tips and tricks with others. I hope to provide a unique and informative perspective on all things web development.</p>
    </div>
</section>

<!-- BLOG SECTION -->
<!-- <section>
    <div *ngFor="let blog of blogs" class="container-fluid">
        <div class="card mb-5 p-3 shadow-lg">
            <div class="row p-4">
                <div class="col-md-8">
                    <h4 class="card-title"><a href="">"{{ blog.title }}"</a></h4>
                    <div class="my-2">
                        <span class="card-link small"><i class="bi bi-clock-fill"></i>"{{ blog.readTime }} min"</span>
                        <span class="card-link small"><i class="bi bi-calendar-fill"></i>"{{ blog.datePosted }}"</span>
                        <span class="card-link small"><i class="bi bi-chat-fill"></i>0 Comments</span>
                    </div>
                    <p class="card-text">"{{ blog.content | slice:0:350 }}"<span>...<a href="{{ blog.id }}">continue reading</a></span></p> 
                </div>
                <div class="col-md-4">
                    <figure>
                        <img src="/assets/images/Kings-Palace-in-Rwanda.jpg" class="img-fluid" alt="Kings Palace in Rwanda">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section> -->