header {
    // margin-top: 10px;
    transition: backgroundColor 0.3S ease-in-out;
}

.nav-link {
    font-size: 2rem;
    color: var(--secondary) !important;
    cursor: pointer;
    text-align: center;
    padding: 10px 5px;
    font-weight: 600 !important;
}

.navbar-toggler {
    background: var(--light-75) !important;
}

.active {
    color: var(--light-75) !important;
}

.nav-link:hover{
    font-weight: 600;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    header {
        // background-color: var(--light-75) !important;
        margin-top: 7.5vh;

        .nav-link {
            font-size: 2rem;
            font-weight: 500 !important;
            line-height: 1;
    
            .bi { font-size: 1.2rem;}
        }
    }
}

@media only screen and (min-width: 1024px) {
    .nav-link {
        font-size: 1.02em !important;
        font-weight: 500;
        line-height: 1;

        .bi { font-size: 1.2rem;}
    }
}