header {
    margin-top: 10px;
    transition: backgroundColor 0.3S ease-in-out;
}

.nav-link {
    font-size: 2rem;
    color: var(--secondary);
    cursor: pointer;
    text-align: center;
    padding: 10px 5px;
    // text-transform: uppercase;
    text-decoration: underline;
    
}

.navbar-toggler {
    background: var(--light-75) !important;
}

.active {
    color: var(--light-75) !important;
}

.nav-link:hover{
    font-weight: 600;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    header {
        // background-color: var(--light-75) !important;
        margin-top: 7.5vh;
    }
    
    .nav-link {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;

        .bi { font-size: 1.2rem;}
    }

}