/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'gaeguregular';
    src: url('../public/fonts/gaegu-regular-webfont.woff2') format('woff2'),
         url('../public/fonts/gaegu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cocogooseprotrialdarkmode';
    src: url('../public/fonts/cocogoose-pro-darkmode-trial-webfont.woff2') format('woff2'),
         url('../public/fonts/cocogoose-pro-darkmode-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'andika_new_basicregular';
    src: url('../public/fonts/andikanewbasic-r-webfont.woff2') format('woff2'),
         url('../public/fonts/andikanewbasic-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    --dark: #222;
    --light-75: #f1f1f1;
    --light-50: #999;
    --primary: #2b3542;
    --secondary: #B54141;
    --tertiary: #13c4a5;
}

html body {
    height: 100%;
}

body {
    color: var(--dark);
    font-family: "andika_new_basicregular";
    font-size: 16px;
    line-height: 26px;
    word-spacing: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-family: "cocogooseprotrialdarkmode";
    letter-spacing: .01rem;
    line-height: 1.2;
}

p, li {
    font-size: 1.1rem;
}

.limited {
    max-width: 1400px;
    margin: 0 auto; 
}
