.blog-details {

    .blog-header {

        .meta {
            span {
                background-color: var(--light-75);
                border-radius: 25px;
                font-size: .85rem;
                color: var(--tertiary);
            }
        }
    }
}