<div class="blog">
    <section class="intro">
        <h2 class="my-3">Blog</h2>
        <p class="mb-4 border-bottom pb-4">Explore my latest thoughts on web dev, coding and tech trends. 
            Dive into insightful articles designed to inform, inspire and level up your skills.
        </p>
    </section>

    <section>
        <div class="card-grid">
            @for (blog of blogs; track blog.id) {
            <div  title="{{ blog.title }}" class="card card-grid-card shadow" id="blog-{{ blog.id }}">
                <div class="card-body p-3">
                    <h5 class="card-title mt-2">
                        <a href="" [routerLink]="['/blog', blog.id]">{{ blog.title }}</a>
                    </h5>
                    <p class="blog-meta row border-bottom">
                        <span class="read-time small text-body-secondary col-6 text-start mb-2">
                            <i class="bi bi-stopwatch"></i> {{ +blog.read_time / 60 }} min read
                        </span>
                        <span class="author small text-body-secondary col-6 text-end mb-2">
                            <i class="bi bi-person"></i> <a href="#"> {{ blog.author }}</a>
                        </span>
                    </p>
                    <img src="imgs/Kings-Palace-in-Rwanda.jpg" alt="Image" class="img-fluid card-img">
                    <p class="card-text py-2">{{ blog.summary | slice:0:150 }}...
                    <span class="read-more"><a [routerLink]="['/blog', blog.id]">Continue reading</a></span>
                    </p>
                    <p class="blog-footer row border-top mb-0">
                        <span class="date small text-body-secondary col-6 text-start mt-3">
                            <i class="bi bi-calendar"></i> 17 Mar 2025
                        </span>
                        <span class="comments small text-body-secondary col-6 text-end mt-3">
                            <i class="bi bi-chat"></i> 0 Comments
                        </span>
                    </p>
                </div>
            </div>}
        </div>
    </section>
</div>